/env*/
/venv*/
.idea
data
output
__pycache__
*.png
*.net
*.npz
*.gif
eval_model
eval_data
data_generation
data_15k
pretrained-models
R2N2
/env/
*.gif
*.png
*.drawio.bkp
*.drawio.dtmp
ShapeNetCore.v2.PC15k

/**/build/
/**/dist/
output-models
shapenetcore_partanno_segmentation_benchmark_v0_normal/
score_denoise/